<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Classic Mouse" value="420,7" />
		<add key="ROBOTRACE" value="180,3" />
		<add key="Line Mouse" value="180,3" />
	</appSettings>
</configuration>